# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Logs
*.log

# Temporary files
tmp/
temp/